    :root{
            --bg: #f8fafc; --text-size: 18px; --text: black; --accent: #326eed; --max-width:1100px;
            --ice-blue: #d6e6f3; --powder-blue: #a2cae0; --sapphire: #245eb7; --deep-navy: #000926;
            --afbtn: #18b050;
        }
        html{
            scroll-behavior: smooth;
        }

img{ width: 100%; height: 100%;}

        body{margin: 0px; background: linear-gradient(#defde3, #8eb69b);}
        header{padding: 1%; z-index: 10000; position: relative;}
        .container{display: flex; justify-content: space-evenly; align-items: center; }
        

        
        a{text-decoration: none; color: black;}
       .container .brand {display: flex; align-items: center; width: 100%; max-width: 250px; gap: 1px;
        transition: 0.8s; }
       .brand .logo{padding: 3%; background: linear-gradient(135deg, aqua,rgb(0, 255, 191)); 
    border-radius: 10px; border: px solid #000; box-shadow: 0px 2px 3px rgb(69, 64, 64);}
       /*.logo .discripsion{ }*/
       .Navbar{flex: 1; display: flex; justify-content: center;} 
       .Navbar .menu{ display: flex; gap: 10px; list-style: none;}
       
    .menu li a:hover{box-shadow: 0 1px 3px black; border: px solid #000;
             background-color: rgb(234, 245, 255); transition: 0.3s;}  
        .menu li a{ padding: 6px 14px; border-radius: 0px 20px 0px 20px;}
        .menu .more{position: relative;}
        .menu .more .dropdown{display: none; position: absolute;  background-color: #d6e6f3;
            margin: 0; padding: 0%; border: 1px solid rgb(45, 45, 45); width: 130px; border-radius: 20px;
            box-shadow: 0 2px 5px rgb(51, 51, 51);
             top: 130%; justify-content: center; align-items: stretch; gap: 2px;}
        .dropdown li{list-style: none; display: flex; align-items: center; flex-direction: column;
           }
       .menu .more:hover .dropdown{display: flex; flex-direction: column;}
       .more .dropdown.active{display: flex; flex-direction: column;} 

         .S_L{display: flex; transition: 0.8s;}
        a{text-decoration: none; color: black;}
        .btnls{display: flex; gap: 20px;}
        .Lbtn{ display: flex; justify-content: center; align-items: center;
        padding: 6px 16px; border-radius: 20px; background-color: var(--accent); color: white; 
        box-shadow: 0 2px 5px rgba(0,0,0,0.50);}
        .Lbtn:active{ background-color: var(--afbtn);} .Lbtn:focus{background-color: var(--afbtn);}
        .Sbtn:active{ background-color: var(--afbtn); color: #ffffff;} 
        .Sbtn:focus{ background-color: var(--afbtn); color: #ffffff;}
        .Sbtn{ display: flex; justify-content: center; align-items: center;
        padding: 6px 16px; border-radius: 20px; background-color: rgb(240, 240, 240); color: #16a34a; 
        border: 1px solid #16a34a;
        box-shadow: 0 2px 5px rgba(0,0,0,0.50);}

           .S_L.active .btnls{ display: flex; flex-direction: column; position: absolute; top: 50px; right: 0;
             background: white; padding: 10px; border-radius: 10px; }
             .S_L.active .profile .circle{box-shadow: 0 1px 3px black; border: 1px solid #000;
            background-color: var(--afbtn);}

       .profile { width: 80px; display: none; justify-content: flex-end;}
.circle { width: 35px; height: 35px; border-radius: 50%; border: 2px solid black;
     display: flex; align-items: center; justify-content: center;}
         .circle:hover{box-shadow: 0 1px 3px black; border: 1px solid #000;
             background-color: rgb(0, 132, 255);}
         

/*-------------------------------{Search Block}--------------------------------------*/
.Sinp{ height: auto; display: flex; justify-content: space-evenly; align-items: center;
padding: 1%;   position: sticky; top: 0%;
 z-index: 9999;}

.mnbtn .mbtn{ 
    /* display: none; */
     border: none; width: 30px; height: 30px; background-color: var(--accent);
        border-radius: 10px; color: white; transition: 0.3s; cursor: pointer;}
        .mnbtn .mbtn:hover{box-shadow: 0 1px 3px black; border: 1px solid #000;
             background-color: rgb(0, 132, 255);}
            .Navbar1{position: relative;  display: none; transition: 0.8s; } 
            .menu1{list-style: none; position: absolute; top: 0px; display: flex; flex-direction: column;
            justify-content: space-evenly; align-items: center; margin: 0%; padding: 0%; width: 480%; height: 300px;
        border-radius: 30px; overflow: hidden; box-shadow: 0 2px 5px rgb(51, 51, 51); background-color: var(--ice-blue);
    border: 1px solid black; }
         .mnbtn.active .Navbar1{ display: block;}
         .mnbtn.active .mbtn{ box-shadow: 0 1px 3px black; border: 1px solid #000;
             background-color: var(--afbtn);}
            .menu1 li a:hover{box-shadow: 0 1px 3px black; border: px solid #000;
             background-color: rgb(234, 245, 255); transition: 0.3s;}  
             .menu1 li a:focus{background-color: var(--accent); box-shadow: 0 1px 3px black; border: px solid #000;
              transition: 0.3s;}  
        .menu1 li a{ padding: 6px 20px; border-radius: 0px 20px 0px 20px;}

.SHin{ width: 80%; border-radius: 10px; border: 1px solid black; height: 10px; transition: 0.3s; 
outline: none;}
.SHin:focus{border:1px solid var(--sapphire); box-shadow: 0 1px 3px var(--sapphire);}

.searchbtn{display: flex; justify-content: center; align-items: center;
        padding: 6px 16px; border-radius: 20px; background-color: var(--accent); color: white; 
        box-shadow: 0 2px 5px rgba(0,0,0,0.50);}
.searchbtn:hover{box-shadow: 0 1px 3px black; 
             background-color: rgb(0, 132, 255);}
.searchbtn:focus{box-shadow: 0 1px 3px black; 
             background-color: var(--afbtn);}
.searchbtn2{display: none; justify-content: center; align-items: center;
        padding: 5px 9px; border-radius: 20px; background-color: var(--accent); color: white; 
        box-shadow: 0 2px 5px rgba(0,0,0,0.50);}
.searchbtn2:hover{box-shadow: 0 1px 3px black; 
             background-color: rgb(0, 132, 255);}
.searchbtn2:focus{box-shadow: 0 1px 3px black; 
             background-color: var(--afbtn);}
             
/*-------------------------------- [home img] -----------------------------------------*/
.add_container img{width: 100%;}
.row3img{display: flex; flex-direction: column; gap: 30px;} 
   .rowsimg{ display:grid; grid-template-columns:repeat(3,1fr); gap:20px; padding: 1%; }
   .product{display: flex; justify-content: space-around; align-items: stretch; gap: 10px; padding: 3%; }
   .product img{width: 100%; height: 100%; object-fit: cover; display: block;}
   .product .productimg{width: 250px; overflow: hidden; object-fit: cover; margin-top: 10px;
      border-radius: 10px; box-shadow: 0px 3px 8px black;}

    .section33{display: grid; grid-template-columns: 2fr 1fr; justify-content: space-evenly; align-items: center; padding: 5%; gap: 25px;}
   .product33{ background-color: #a2cae0; padding: 2%; border-radius: 20px;
box-shadow: 0px 3px 8px rgb(56, 56, 56); background-color: #a2cae015;}
     .product33 .imgbox{display: grid; grid-template-columns: 2fr 1fr;
        overflow: hidden; gap: 8px;}
      .product33 .imgbox img{ width: 100%; height: 100%; object-fit: cover; border-radius: 10px;
      }
      .product33 .imgbox .big{ grid-row: span 2 ;}
       
      .product33 .p1btn{ display: flex; justify-content: center; align-items: center; width: 100%; height: 40px;
         margin-top: 10px; border-radius: 20px; outline: none; border: none; color: white;
        box-shadow: 0px 2px 3px rgb(88, 86, 86); transition: 0.5s; background-color: var(--accent);}
        .product33 .p1btn:hover{box-shadow: 0px 3px 8px rgb(88, 86, 86);}
        .product33 .p1btn:focus{background-color: var(--afbtn); color: white;}
        .product33D{ display: grid; grid-template-columns: 1fr;
        justify-content: center; align-items: center; gap: 50px;}
        .P33D{ padding: 2%;}
        .D33{display: flex; justify-content: space-evenly; align-items: center; border-radius: 10px;
        box-shadow: 0px 3px 8px rgb(56, 56, 56); background-color: #a2cae015;}
        .D33 .D33img{width: 15%; height: 15%; border-radius: 10px; overflow: hidden; }
        .D33 img{ width: 100%; height: 100%; object-fit: cover; display: block;}
        .product33D button{height: 50px; width: 100%; border-radius: 20px; outline: none; border: none; color: white;
        box-shadow: 0px 2px 3px rgb(88, 86, 86); transition: 0.5s; background-color: var(--accent);}
        .product33D button:hover{box-shadow: 0px 3px 8px rgb(88, 86, 86); }
        .product33D button:focus{background-color: var(--afbtn); color: white; }

/*-------------------------------- [product page] -----------------------------------------*/
 .product_boxs{padding: 2%;}
.product_block{display: grid; grid-template-columns: 1fr 1fr; background:rgba(255, 255, 255, 0.676);
      gap: 20px; align-items: stretch; padding: 2%; justify-items: center;  border-radius: 20px;}
    .product_img .img_block{ height: 500px; border-radius: 30px; object-fit: cover; overflow: hidden; 
   box-shadow: 0 4px 10px rgba(0,0,0,0.50);}
    .product_img .img_block img{width: 100%; height: 100%; object-fit: cover; display: block; }

    .product_data{display: flex; flex-direction: column; gap: 10px; justify-content: space-between;
       align-items: left; padding: 25px;}
      
       .size_btn{display: flex; gap: 10px;}
       .size_btn .btn{height: 35px; width: 100%; border-radius: 10px; border: none; cursor: pointer; 
      box-shadow: 0 10px 8px rgba(0,0,0,0.1); }
       .size_btn .btn:focus{background-color: #326eed; box-shadow: 0 4px 10px rgba(0,0,0,0.5); color: white;}
       .product_quantity{display: flex; flex-direction: column; gap: 10px;}
       .product_quantity input{display: flex; padding: 1%; border-radius: 8px; }
       .product_btns{display: flex; align-items: center; justify-content: space-around;}
       .product_btns button{width: 150px; height: 50px; border-radius: 10px; box-shadow: 0 10px 8px rgba(0,0,0,0.1);
      border: none; cursor: pointer; }
      .product_btns button:focus{background-color: #326eed; box-shadow: 0 4px 10px rgba(0,0,0,0.5);
          color: white;}

          .feature_block{padding: 2%;}
     .features{ background:rgba(255, 255, 255, 0.676); border-radius:20px;
         border:1px solid #e5e5e5;
 padding:20px; display:grid; grid-template-columns:repeat(4,1fr); gap:20px;
}

.feature{ text-align:center;
}

.feature i{ font-size:28px; margin-bottom:10px; color:#1d5b1d;
}
@media(max-width:900px){
 .features{
        grid-template-columns:1fr 1fr;
    }
}
@media(max-width:500px){
 .features{
        grid-template-columns:1fr;
    }
}
      @media(max-width: 760px){
        .product_block{
           grid-template-columns: 1fr;
        }
        .photo_block{
          width: 300px;
        }
      }

/*-------------------------------- [orders page] -----------------------------------------*/
.Orders_page{padding: 1%;}
button{box-shadow: 0 4px 10px rgba(0,0,0,0.5); border: none; border-radius: 5px;}
button:focus{background-color: #326eed; box-shadow: 0 4px 10px rgba(0,0,0,0.5);
          color: white;}
.orders_block button{box-shadow: 0 4px 10px rgba(0,0,0,0.5); border: none; border-radius: 5px;}
.details_and_buy button{box-shadow: 0 4px 10px rgba(0,0,0,0.5); border: none; border-radius: 10px;}
.details_and_buy button:focus{background-color: #326eed; box-shadow: 0 4px 10px rgba(0,0,0,0.5);
          color: white;}
    .orders_block{display: flex; flex-direction: column;
     padding: 1%; align-items: flex-start; }
     .all_products{ display: flex; flex-direction: column; gap: 10px; margin-top: 10px;
         width: 100%; align-items: center; justify-content: space-between;}
    .order_items{ width: 100%; display: grid; grid-template-columns: repeat(2, 1fr);  gap: 30px; justify-content: space-around;}
    .order_product{background:rgba(255, 255, 255, 0.676); border-radius: 15px; box-shadow: 0px 1px 5px black;
          padding: 1%;}
    .items_data{display: flex;  justify-content: space-around; 
         gap: 10px; }
    .img_and_data{display: flex;  gap: 10px; align-items: center;}
    .img_and_data .image1{ display: flex; height: 150px; border-radius: 10px;
        box-shadow: 0 1px 4px  black;
         object-fit: cover; overflow: hidden;}
    .img_and_data img{width: 100%; height: auto;}
    .details_and_buy{display: flex; justify-content: space-around;}
    .Order-Id{font-family: Georgia, 'Times New Roman', Times, serif}
  
    @media(max-width: 850px){
        .order_items{grid-template-columns: 1fr;}
    }

    .all_coupons{display: flex; padding: 1%; gap: 10px; }
    .coupon_card{border: 1px solid; padding: 1%; border-radius: 0 20px 20px 0; border-left: 5px solid black;
    border-right: 2px dotted solid;}
    .coupon_offers{border: 1px solid; display: flex; padding: 1%; border-radius: 20px;}

    .coupon_name{font-size: 20px;}
    .no-orders{display: flex; align-items: center; justify-content: center; padding: 1%;
        gap: 10px; height: 50%; width: 100%;}
    .C_Image-block{display: flex;}

/*-------------------------------- [help center] -----------------------------------------*/
.help_center{padding: 1%;}
.main_datablock{ background:linear-gradient(135deg,#edf4e8,#f5f5f5); padding:15px; 
    border-radius:20px; margin-bottom:25px; margin-top: 10px; box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.main_datablock samp{ font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-size: 25px;
}

.main_datablock p{ color:#555;
}


/* CONTACT */

.contact_section{ display:grid; grid-template-columns:2fr 1fr; 
    gap:20px; margin-bottom:25px;
}
.contact_form form{padding: 1%;}
.contact_form, .support_cards{ background:white; padding:25px; 
    border-radius:20px; border:1px solid #e5e5e5;
}

.contact_form h2, .support_cards h2{ margin-bottom:20px;
}

.input_group{ margin-bottom:15px;
}

.input_group label{ display:block; margin-bottom:6px; font-weight:600;
}

input, select, textarea{ width:100%; padding:12px; 
    border:1px solid #ddd; border-radius:10px;
}

.send_btn{ width:100%; padding:14px; border:none; border-radius:10px;
     background:#1d5b1d; color:white; font-size:16px; cursor:pointer;
}


/* SUPPORT CARDS */

.support_card{ display:flex; gap:15px; align-items:center;
     padding:18px; margin-bottom:15px; border-radius:15px; background:#f8faf6;
}

.support_card i{ width:55px; height:55px; background:#dfead8;
     border-radius:50%; display:flex; justify-content:center; align-items:center; font-size:20px; color:#1d5b1d;
}


/* FAQ */

.faq_section{ background:white; border-radius:20px; padding:25px; border:1px solid #e5e5e5;
 display:grid; grid-template-columns:250px 1fr; gap:20px;
 margin-bottom:25px;
}

.faq_category{ padding:15px; margin-bottom:10px; border-radius:10px; background:#f5f5f5; cursor:pointer;
}

.active{ background:#e7efe2; font-weight:bold;
}

.faq_item{ padding:18px; border:1px solid #ddd; border-radius:12px; margin-bottom:12px;
 display:flex; justify-content:space-between; align-items:center;
}


/* CTA */

.support_cta{ background:white; border-radius:20px; padding:25px; border:1px solid #e5e5e5;
 display:flex; justify-content:space-between; align-items:center;
 margin-bottom:25px;
}

.cta_buttons{ display:flex; gap:15px;
}

.chat_btn, .ticket_btn{ padding:14px 25px; border:none; border-radius:10px; cursor:pointer;
}

.chat_btn{ background:white; border:1px solid #ccc;
}

.ticket_btn{ background:#1d5b1d; color:white;
}

@media(max-width:780px){
    .contact_section{grid-template-columns:1fr;}
    .faq_section{grid-template-columns: 1fr;}
    .support_cta{flex-direction: column;}
}
/*-------------------------------- [login-pageblock] -----------------------------------------*/

.login-pageblock{display: flex; justify-content: center; align-items: center; padding: 1%; margin-top: 10px;}
        form{
            padding: 2%;
           max-width: 320px;
           margin: auto;
        }
        .form_blocks{
            position: relative;
            margin-bottom: 28px;
        }
        input{
            width: 100%;
            padding: 12px 10px;
            font-size: 16px;
            border: 1px solid #999 ;
            outline: none;
        }
        label{
            position: absolute;
            top: 50%;
            left: 10px;
            color: #666;
            font-size: 14px;
            pointer-events: none;
            transform: translateY(-50%);
            transition: 0.3s ease;
            background: white;
            padding: 0 4px;
        }
        /*floting effect */
        input:focus+ label, input:not(:placeholder-shown)+ label {
            top: -6px;
            font-size: 12px;
            color: #2563ed;
        }
        input:focus, input:valid{
             border-color: #2563ed;
        }
        .toggle-eye{
             position: absolute;
             right: 10px;
             top: 50%;
             transform: translateY(-50%);
             cursor: pointer;
             font-size: 16px;
             color: #666;
             user-select: none;
        }
        .toggle-eye:hover{
            color: #2563ed;
        }
       .error{
       position: absolute;
       font-size: 12px;
       color: red;
       transform: translateY(-5px);
       transition: 0.3s ease ;
       opacity: 0;
    }
    .error_match{
       position: absolute;
       font-size: 12px;
       color: red;
       transform: translateY(-5px);
       transition: 0.3s ease ;
       opacity: 0;
    }
    .form_blocks.error-show .error{
        opacity: 1;
        transform: translateY(0);
       }
       .form_blocks.error-show input{
        border-color: red;
       }
       .form_blocks.Perror-show .error_match{
        opacity: 1;
        transform: translateY(0);

       }
       .form_blocks.Perror-show input{
        border-color: red;
       }

/*-------------------------------- [footer] -----------------------------------------*/
   .footer{ display: flex; flex-direction: column; align-items: center; padding: 3%;
border: 1px solid black; border-radius: 10px;}
   .footerdata{display: flex; justify-content: space-around; align-items: center; width: 100%;}
   .footer_icons{display: flex; flex-direction: column;}
/*-------------------------------- [JS] -----------------------------------------*/
@media(max-width: 1000px){
    .btnls{display: none;}
    .profile{display: block;}
}

@media(max-width: 840px){
 .Navbar{display: none;}
  /* .mnbtn .mbtn{display: block; 
        } */
 .container{justify-content: space-between;}
}

@media(max-width: 400px){
 .platform{font-size: 15px;}
 .searchbtn{display: none;}
 .searchbtn2{display: flex;}
}
/*-------------------------------- [JS PD3img] -----------------------------------------*/

@media (max-width: 1000px){
    .section33{grid-template-columns: 1fr;}
    .product33D{gap: 0px;}
}
