{% extends "header.html" %}

{% block content %}
   
<link rel="stylesheet" href="{{url_for('static', filename= 'css/buy_page.css')}}" >
<link rel="stylesheet" href="{{url_for('static', filename= 'css/dashboard.css')}}">

{% if userid %}
             
             {% if webdata.datatype == "userdata" %}
                
             <!-- data block -->
                <!-- <div class="D_alldata1" style="width: 100%; margin: 20px;"> -->
                    <!-- <div class="Xbtn"><button onclick="Udataoff(this)">❌</button></div> -->
                        <div class="D_alldata2">
                                <div class="">
                                    <span><p><b>UserID:</b><br> <input type="text" value="{{webdata.userid}}" readonly></p></span>
                                    <p><b>User Name:</b><br><input type="text" value="{{webdata.username}}" readonly> </p>
                                    <p><b>User Mail:</b><br> <input type="text" value="{{webdata.email}}" readonly></p>
                                </div>
                                <div class="">
                                        <p><b>User Password:</b><br> <input type="text" value="{{webdata.password}}" readonly></p>
                                        <p><b>Roll:</b><br> <input type="text" value="{{ webdata.roll}}" readonly></p>
                                        <div class="D_User Dblock2" style="display: flex; gap: 10px;">
                                        <button type="button">Edit Data</button>
                                        <button type="button" disabled><i class="fa-solid fa-lock"></i> Save</button>
                                        </div>
                                    </div>
                    </div>
                <!-- </div> -->
            <!-- data blockend -->
             {% elif webdata.datatype == "orderdata" %}
              <div class="D_alldata2">
                    <div class="">
                        <span><p><b>UserID:</b><br> <input type="text" value="{{ webdata.userid}}" readonly></p></span>
                        <p><b>Order ID:</b><br> <input type="text" value="{{ webdata.orderid}}" readonly></p>
                        <p><b>O/D Date:</b><br><input type="text" value="{{ webdata.date}}" readonly> </p>
                    </div>
                    <div class="">
                        <p><b>Quantity:</b><br> <input type="text" value="{{ webdata.quantity}}" readonly></p>
                        <p><b>Status:</b><br> <input type="text" value="{{ webdata.status}}" readonly></p>
                        <div class="D_User Dblock2" style="display: flex; gap: 10px;">
                        <button type="button">Edit Data</button>
                        <button type="button" disabled><i class="fa-solid fa-lock"></i> Save</button>
                        </div>
                    </div>
                </div>
             {% else %}
             {% endif %}
    
    {% else %}
    {% endif %}
    

{% endblock %}
