<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shopping web portal</title>
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/style.css')}}" >

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>

    <header>
        <div class="container">
        
            <div class="brand">
                <span class="logo" style="font-size: 20px;"><a href="#">SH</a></span>
                <div class="discripsion">
                    <div style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                        shop now </div>
                    <div class="platform">it's shopping platform</div>
                </div>
            </div>
             <nav class="Navbar">
                <ul class="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/Orders#orders_page">Orders</a></li>
                    <li><a href="/Orders#cart_page">Cart</a></li>
                    <li><a href="/Help_Center">Help Center</a></li>
                    <li class="more">
                        <a href="#">More ▾</a>
                        <ul class="dropdown">
                            <li><a href="/Orders#coupons_page">Coupons</a></li>
                            <li><a href="/Help_Center">Contact</a></li>
                            <li><a href="#bottom">About</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

             <div class="S_L">
                {% if userid %}
                <div class="profile2">
                    <a href="/profile" class="PRF"><div class="circle2"><i class="fa-solid fa-user"></i></div></a>
                    <span>{{ userid }}</span>
                </div>
                {% else %}
                <div class="btnls">
                    <a href="/login_page" class="Sbtn" >sign up</a>
                    <a href="/login_page" class="Lbtn" >login</a>
                </div>
                <div class="profile">
                    <a href="#" class="PRF"><div class="circle"><i class="fa-solid fa-user"></i></div></a>
                </div>
                {% endif %}
            </div>
            
        </div>
        
    </header>

    <div class="Sinp">
            <div class="mnbtn">
                <button type="button" class="mbtn"><a>☰</a></button>
                <nav class="Navbar1">
                <ul class="menu1">
                    <li><a href="/">Home</a></li>
                    <li><a href="/Orders#orders_page">Orders</a></li>
                    <li><a href="/Orders#cart_page">Cart</a></li>
                    <li><a href="/Help_Center">Help Center</a></li>
                    <li><a href="/Orders#coupons_page">Coupons</a></li>
                    <li><a href="/Help_Center">Contact</a></li>
                    <li><a href="#bottom">About</a></li> 
                    </li>
                </ul>
            </nav>
            </div>
            
        <input type="text" placeholder="text" class="SHin">
        <a href="#" class="searchbtn">search</a>
        <a href="#" class="searchbtn2">🔍</a>
    </div>

    <div class="notification">
        <samp class="msg"></samp>
    </div>

    {% block content %}

    {% endblock %}

    <footer class="footer" id="bottom">
        <div class="footerinfo">
                  <h3>ShopEasy</h3>
                  <p>Best online shopping website for fashion and accessories.</p>
            </div>
        <div class="footerdata">
            <div class="SHabout">
                <h3>Quick Links</h3>
                <div class="footer_icons">
                    <a href="/"><i class="fa-solid fa-home"></i> Home</a><br>
                    <a href="/products/products/img/"><i class="fa-solid fa-cart-shopping"></i> Products</a><br>
                    <a href="#bottom"><i class="fa-solid fa-headset"></i> Contact</a><br>
                    <a href="#bottom"><i class="fa-solid fa-address-card"></i> About</a>
                </div>
            </div>
            <div class="SHcontacts">
                    <h3>Contact</h3>
                    <p><i class="fa-solid fa-envelope"></i> Email: support@shopeasy.com</p>
                    <p><i class="fa-solid fa-phone"></i> Phone: +91 9876543210</p>
            </div>
        </div>
    </footer>

        <script src="{{url_for('static', filename ='javascript/script.js')}}" defer></script>
</body>
</html> 