{% extends "header.html" %}

{% block content %}


<div class="LR-block">
    <div class="LR-page">
        <div class="LR-formsBlock">
            <div class="login-form">
                        <div class="formbtns2">
                            <button type="button" class="L_F_open" onclick="L_rotate()">Login</button>
                        </div>
                <form action="/login" method="POST" novalidate>
                        <div class="form_blocks">
                            <samp>Login</samp>
                        </div>
                        <div class="form_blocks">
                            <input type="email" id="Lemail" placeholder=" " name="email" required>
                            <label for="email">E-mail</label>
                            <small class="error_match" >please enter a valid E-mail</small>
                            <small class="error" >please fill this field</small>
                        </div>
                        <div class="form_blocks">
                            <input type="password" id="Lpassword"  placeholder=" " name="password" required>
                            <label for="password">Password</label>
                            <span class="toggle-eye" onclick="LtogglePassword()"><i class="fa-regular fa-eye"></i></span>
                            <small class="error" >please enter password</small>
                        </div>
                        <div class="form_blocks">
                            <samp class="login_check" id="login_check"></samp>
                        </div>
                        <div class="btn1-2">
                            <button type="submit" >Submit</button>
                            <samp><a href="javascript:void(0)"  style="color: rgb(0, 119, 255);">forgot password?</a></samp>
                        </div><br>
                        <div class="form_blocks">
                            <samp>Don't have an account <a href="javascript:void(0)" style="color: rgb(0, 119, 255);" onclick="LF_close()">Registration?</a></samp>
                        </div>
                </form>
            </div>
            <div class="register-form">
                        <div class="formbtns2">
                            <button type="button" class="R_F_open" onclick="R_rotate()">Registration</button>
                        </div>
                <form class="Rform" action="/register" method="POST" novalidate>
                        <div class="form_blocks">
                            <samp>Registration</samp>
                        </div>
                        <div class="form_blocks">
                            <input type="text" id="user-name"  placeholder=" " name="username" required>
                            <label for="name">User_name</label>
                            <small class="error" >please fill this field</small>
                        </div>
                        <div class="form_blocks">
                            <input type="email" id="email" placeholder=" " name="email" required>
                            <label for="email">E-mail</label>
                            <div class="errormsg">
                                <small class="error_match" >please fill this field</small>
                                <small class="error" >please enter a valid E-mail</small>
                            <samp id="email-status" class="python-error"></samp>
                            </div>
                        </div>
                        <div class="form_blocks" >
                            <input type="password" id="password"  placeholder=" " name="password" required>
                            <label for="password">Password</label>
                            <span class="toggle-eye" onclick="togglePassword()"><i class="fa-regular fa-eye"></i></span>
                            <small class="error_match" >8–15 characters, 1 uppercase letter, 3 numbers, and 1 special character.</small>
                            <small class="error" >please enter password</small>
                        </div>
                        <div class="form_blocks" id="pwdcheck">
                            <input type="password" id="conform-password" placeholder=" " name="conform-password" required>
                            <label for="password">Password</label>
                            <span class="toggle-eye" onclick="togglePassword1()"><i class="fa-regular fa-eye"></i></span>
                            <small class="error_match">password do not match</small>
                            <small class="error">please enter conform-password</small>
                    </div>
                        <div class="btn1-2">
                            <button type="submit" >Submit</button>
                        </div><br>
                        <div class="form_blocks">
                            <samp>Already have an account <a href="javascript:void(0)"  style="color: rgb(0, 119, 255);" onclick="RF_close()" >Login now?</a></samp>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="{{url_for('static', filename ='javascript/login.js')}}" defer></script>
  {% endblock %}