{% extends "header.html" %}

    {% block content %}
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/buy_page.css')}}" >
    
    <div class="Orders_page" >
        <section class="main_datablock">
            <samp id="orders_page">My Orders</samp>
            <p>Track, view and manage your orders</p>
        </section>
        <div class="type_buttons">
                <button type="button">All Orders</button>
                <button type="button">Shipped</button>
                <button type="button">Delivered</button>
                <button type="button">Cancelled</button>
            </div> 
        <div class="orders_block">  
            <div class="orderblock">
                {% if Orderdata %}
                {% for order in Orderdata %}
                    <div class="order">
                        <div class="OP imgname">
                            <div class="OPimg">
                                <img src="{{url_for('static', filename=order.image)}}" alt="">
                            </div>
                            <div class="OPname">
                                <p>{{ order.product.p_name }}</p>
                                <p>Quantity: {{ order.quantity }}</p>
                                <p>₹ {{ order.totalamount }}</p>
                            </div>
                        </div>
                        <div class="OP Track"  style="display: block;">
                            <div class="orderdetails" >
                                <samp class="headT" style="color: rgb(80, 162, 255);">Delivery Status</samp>
                            <div class="delivery">
                                <div class="orderDt">
                                    <div class="card"><i class="fa-solid fa-cart-shopping"></i></div>
                                    <p>{{ order[0] }}</p>
                                </div>
                                <div class="orderRoute"></div>
                                <samp class="D_truck"><i class="fa-solid fa-truck"></i></samp>
                                <div class="orderRoute"></div>
                                <div class="deliveryDt">
                                    <div class="card"><i class="fa-solid fa-house"></i></div>
                                    <p>{{ order[1] }}</p>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="OP OD_date">
                            <div class="OPo_date">
                                <h4>Order date</h4>
                                <p>{{ order.order_date }}</p>
                            </div>
                            <div class="OPd_date">
                                <h4>Delivery date</h4>
                                <p>{{ order.delivery_date }}</p>
                            </div>
                            <div class="OPd_date">
                                <h4>Order status</h4>
                                <p class="order-status">{{ order.status }}</p>
                            </div>
                        </div>
                        {% if order.status == "Cancelled" %}
                        <p style="color: red; text-align: center;">This order is Cancelled</p>
                        {% else %}
                            {% if order.status == "Delivered" %}
                            <p style="color: green; text-align: center;">This order is Delivered</p>
                            {% else %}
                                <div class="OP TCbuttons" >
                                    <div class="buycheck">
                                        <div class="buy-buttons" >
                                            <button type="button" class="Order_Now" onclick="orderT(this)">
                                                <i class="fa-solid fa-location"></i>&nbsp;Track Order</button>
                                            <button type="button" class="Cancel_Order" onclick="cancel_O(this)"
                                            data-orderid="{{order.OrderID}}" >
                                                <i class="fa-solid fa-circle-xmark"></i> &nbsp;Cancel Order</button>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>  
                    <!-- <script>const OrderID = "{{order.OrderID}}"; </script>    -->
                {% endfor %}
            </div>
            
            
            {% else %}
               <div class="no-orders">
                {% if userid %}
                    <p>no orders....</p> <div class="card"><i class="fa-solid fa-truck"></i></div>
                {% else %}
                    <p>Please login or rigister....</p> <div class="card"><i class="fa-solid fa-truck"></i></div>
                {% endif %}
                </div>
            {% endif %}

        </div>

        <!-- --------------------------------------- -->
        <div class="coupons_block" id="coupons_page">
             <section class="main_datablock">
            <samp>My Coupons</samp>
            <p>Use coupons to get exciting discounts</p>
        </section>
            <div class="all_coupons">
                <div class="coupon_card">
                <p>FLAT</p>
                <samp class="coupon_name">WELCOME-10</samp><br>
                <samp class="coupon_data">Get 10% off on your first order</samp>
                <p>min, order value $499</p>
                <p>vaild time 31 may 2027</p>
                <button>Copy Code</button>
            </div>
            <div class="coupon_offers"><h1>10% OFF</h1></div>
            </div>
        </div>

        <!-- --------------------------------------- -->
        <div class="coupons_block" id="cart_page">
             <section class="main_datablock">
                <samp>My Cart</samp>
                <p>View all the products you have added to your cart.
You can update quantities, remove items, and proceed to checkout anytime.</p>
            </section>
            <div class="C_Image-block">
                {% if C_Image %}
            <div class="all_products">
                 {% for images in C_Image %}
                <div class="order_items">
                        {% for image in images %}
                    <div class="order_product">
                            <div class="items_data">
                                <div class="img_and_data">
                                    <a href="/products/{{ image }}">
                                        <div class="image1">
                                            <img src="{{url_for('static', filename= image)}}">
                                        </div>
                                    </a>
                                    
                                    <div class="data">
                                        <samp class="Order-Id">Order Id</samp><br>
                                        <samp class="Order-Name">Order Name</samp>
                                        <h5>$788</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="details_and_buy">
                                <a href="/products/{{ image }}"><p>View Details</p></a>
                                <button type="button" 
                                onclick="window.location.href='{{ url_for('products', image = image)}}'">
                                Buy Again</button>
                            </div>
                    </div> 
                     {% endfor %}
                </div>
                {% endfor %}
            
            </div>
            {% else %}
                <div class="no-orders">
                {% if userid %}
                    <p>Not Add cart....</p> <div class="card"><i class="fa-solid fa-cart-shopping"></i></div>
                {% else %}
                    <p>Please login or rigister....</p> <div class="card"><i class="fa-solid fa-truck"></i></div>
                {% endif %}
                </div>
            {% endif %}   
            </div> 
        </div>

        <div class="feature_block">
            <section class="features">

        <div class="feature">
            <i class="fa-solid fa-truck"></i>
            <h4>Free Shipping</h4>
            <p>Orders above ₹999</p>
        </div>

        <div class="feature">
            <i class="fa-solid fa-rotate-left"></i>
            <h4>Easy Returns</h4>
            <p>30 Days Policy</p>
        </div>

        <div class="feature">
            <i class="fa-solid fa-wallet"></i>
            <h4>Secure Payment</h4>
            <p>100% Secure</p>
        </div>

        <div class="feature">
            <i class="fa-solid fa-headset"></i>
            <h4>24/7 Support</h4>
            <p>Customer Care</p>
        </div>

    </section>
    </div>
    </div>
    {% endblock %}
    
