
{% extends "header.html" %}
{% block content %}
<div class="Orders_page">
      <div class="product_page">
            <div class="product_block">
                  <div class="product_img">
                      <div class="img_block">
                        <img src="{{ url_for('static' , filename = image) }}">
                      </div>
                  </div>
                  <!-- --------------- -->
                  <div class="product_data">
                    <div class="product_name">
                      <h1 class="name">men's casual cotton shirt</h1>
                    </div>
                    <div class="product_review">
                      <span class="review">4.7  (130 reviews)</span>
                    </div>
                    <div class="product_discription">
                      <p class="discription">it's men's casual cotton shirt. and it's best quality product</p>
                    </div>
                    <div class="product_price">$3,500</div>
                    <div class="product_size">
                      <label class="size">Size</label>
                      <div class="size_btn">
                          <button type="button" class="btn">S</button>
                          <button type="button" class="btn">M</button>
                          <button type="button" class="btn">L</button>
                          <button type="button" class="btn">XL</button>
                          <button type="button" class="btn">XXL</button>
                      </div>
                    </div>
                    <div class="product_quantity">
                      <label class="quantity">Quantity</label>
                      <input type="number" min="1" max="25" value="1">
                    </div>
                    <div class="product_btns">
                      <button type="button" class="buy">Buy Now</button>
                      <button type="button" class="add">Add to cart</button>
                    </div>
                  </div>
            </div>

            <div class="services">
              <div class="payment">Secure Payment</div>
              <div class="delivery">Fast Delivery</div>
              <div class="returns">Easy Returns</div>
            </div>
      </div>

<section class="row3img">
    {% for imageId in imageId %}
    <article class="product">
        {% for image in imageId %}
            <div class="productimg">
                <a href="/products/{{ image }}">
                    <img src="{{url_for('static', filename=image)}}" alt="Mimg">
                </a>
            </div>
        {% endfor %}
    </article>
{% endfor %}
</section>

  </div>
         {% for p in products %}


    <div class="card">
        <h3>{{ p.p_name }}</h3>
        <p><b>ID:</b> {{ p.p_id }}</p>
        <p><b>Price:</b> ₹{{ p.p_price }}</p>
        <p>{{ p.p_description }}</p>
    </div>

    {% endfor %}
</div>
    {% endblock %}