{% extends "header.html" %}

{% block content %}
   <link rel="stylesheet" href="{{url_for('static', filename= 'css/dashboard.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename= 'css/buy_page.css')}}" >

{% if userid %}
                
        <div class="profileblock">
            <div class="PBlock userdata">
                <div class="profileimg">
                    <div class="profileicon"><i class="fa-solid fa-user-circle"></i></div>
                    <span>{{pr_Data.username}}</span>
                </div>
                </div>
                <div class="profiledata">
                    <!-- block -->
                        <div class="D_alldata2" style=" flex-direction: column;">
                                <div class="">
                                    <p><b>Name:</b><br><input type="text" value="{{pr_Data.username}}" readonly> </p>
                                    <p><b>Mail:</b><br> <input type="text" value="{{pr_Data.email}}" readonly></p>
                                </div>
                                <div class="">
                                        <div class="D_User Dblock2" style="display: flex; gap: 10px;">
                                        <button type="button"><i class="fa-solid fa-pen"></i>&nbsp;Edit</button>
                                        <button type="button" disabled><i class="fa-solid fa-lock"></i> Save</button>
                                        </div>
                                    </div>
                    </div>
                    <!-- blockend -->
                </div>
            </div>
            <div class="PBlock userdetails">
                <div class="userBlock">Hello, {{pr_Data.username}} Welcome to Your Profile
                    <p>it's your details</p>
                </div>
                <div class="userBlockdata">
                    <div class="yourOrders">
                        <h4>Your Total Orders</h4>
                        {% if pr_Data.totalOrders %}
                        <p>{{pr_Data.totalOrders}}</p>
                        {% else %}
                        <p>No Orders</p>
                        {% endif %}
                    </div>
                    <div class="yourCart">
                        <h4>Save or Cart products</h4>
                        <p>9</p>
                    </div>
                </div>
            </div>
            <div class="PBlock Pbuttons">
                    <button type="button" onclick="logOut()" class="logout" >LogOut</button>
                    <button type="button" class="settings">Settings</button>
                    <button type="button" class="editprofile">Edit Profile</button>
            </div>
                {% else %}
                {% endif %}


{% endblock %}