<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact & Help Center</title>
    

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <style>
      *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f7f8f5;
    padding:20px;
}
.img_block{display: flex; width: 150px;}
.img_block img{width: 100%; object-fit: cover; }

</style>
</head>
<body>

  <div>
    <div class="product_img">
        <div class="img_block">
           {% for image in imageId %} 
        <img src="{{ url_for('static' , filename = image) }}">
        {% endfor %}
        </div>
    </div>
  </div>
  

  

    <div class="card">  
        <h3>{{ products.p_name }}</h3>
        <p><b>Price:</b> {{ products.p_price }}</p>
        <p>{{ products.p_description }}</p>
    </div>
    <br><br><br>
<div> 
    <p>{{products}}</p>
  <p>{{imagenames}}</p>
</div>
    

</body>
</html>